.board {
	display: flex;
	justify-content: space-around;
	padding: 0 2rem;
}

.left-keys {
	grid-template-columns: 4rem 4rem 4rem 4rem;
	grid-template-rows: 4rem 4rem;
}

.right-keys {
	grid-template-columns: 4rem 4rem 4rem 4rem 4rem;
	grid-template-rows: 4rem 4rem;
}

.left-keys, .right-keys {
	display: grid;
	grid-auto-flow: column;
	align-items: stretch;
	column-gap: 10px;
	row-gap: 10px;
}

.steno-key {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid var(--border);
}
